@model ChatModel
@using Models;
@{
    List<Message> messageHistory = Model.historyMessage.OrderByDescending(x => x.CreateDate).ToList();
    List<Group> groups = Model.groups;
}

<div class="contacts p-2 flex-1 overflow-y-scroll">
    @foreach (Message m in messageHistory)
    {
        <a href="./Chat?toUserId=@m.ToUserNavigation.Id">
            <div class="flex justify-between items-center p-3 hover:bg-gray-100 rounded-lg relative">
                <div class="w-16 h-16 relative flex flex-shrink-0">
                    <img class="shadow-md rounded-full w-full h-full object-cover"
                     src="@m.ToUserNavigation.Img"
                     alt="" />
                </div>
                <div class="flex-auto min-w-0 ml-4 mr-6 hidden md:block">
                    <p>@m.ToUserNavigation.UserName</p>
                    <div class="flex items-center text-sm text-gray-600">
                        <div class="min-w-0">
                            <p class="truncate">@m.Message1</p>
                            <p>@m.CreateDate</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
    <hr />
     @foreach (Group g in groups)
    {
        <a href="./Chat?toGroupId=@g.Id">
            <div class="flex justify-between items-center p-3 hover:bg-gray-100 rounded-lg relative">
                <div class="w-16 h-16 relative flex flex-shrink-0">
                    <img class="shadow-md rounded-full w-full h-full object-cover"
                     src=""
                     alt="" />
                </div>
                <div class="flex-auto min-w-0 ml-4 mr-6 hidden md:block">
                    <p>@g.Name</p>
                    <div class="flex items-center text-sm text-gray-600">
                        <div class="min-w-0">
                            <p class="truncate"></p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
</div>